.clamper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#editBtn {
    width: 2.5rem;
    overflow: hidden;
    transition: width 0.25s ease-in-out;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
}

#editBtn:hover {
    width: 5rem;
    transition: width 0.25s ease-in-out;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
}

#editBtn:hover::after {
    content: "Edit";
}